@import 'bower_components/bootstrap/scss/functions';
@import 'variables';
@import 'helpers';
@import 'bower_components/bootstrap/scss/bootstrap';
// bower:scss
@import "../../../bower_components/font-awesome/scss/font-awesome.scss";
@import "../../../bower_components/sweetalert2/src/sweetalert2.scss";
// endbower

$html-font: 10px;
// Body
$body-font: (
        null: (16px, 24px),
        md: (14px, 22px),
);

$big-font: (
        null: (25px,30px),
        md: (18px, 22px),
);

// Headings
$h1-font: (
        null: (67px, 74px),
        md: (40px, 38px),
);
$h2-font: (
        null: (24px, 30px),
        md: (20px, 24px),
);
$h3-font: (
        null: (30px, 30px),
        md: (24px, 32px),
);

$h4-font: (
        null: (23px, 30px),
        md: (18px, 22px),
);


/*
-----------------------------------------
Breakpoints
-----------------------------------------
*/

$breakpoints: (
        xs: 480px,
        sm: 768px,
        md: 992px,
        lg: 1200px,
);

@mixin font-size($fs-map) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
        @if $fs-breakpoint == null {
            font-size: rem(nth($fs-font-size, 1));
            line-height: rem(nth($fs-font-size, 2));
        } @else {
            @include respond-below($fs-breakpoint) {
                font-size: rem(nth($fs-font-size, 1));
                line-height: rem(nth($fs-font-size, 2));
            }
        }
    }
}

//  Respond Below
@mixin respond-below($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);
        @media (max-width: ($breakpoint-value - 1)) {
            @content;
        }
    } @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;

}
input::-webkit-input-placeholder {
    color: rgba(255,255,255,.3) !important;
}
input:-moz-placeholder { /* Firefox 18- */
    color: rgba(255,255,255,.3) !important;
}
input::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(255,255,255,.3) !important;
}
input:-ms-input-placeholder {
    color: rgba(255,255,255,.3) !important;
}


html {
    font-size: $html-font;
}

body,
.btn {
    @include font-size($body-font);
}
.btn {
    text-decoration: none;
    padding: 8px 30px 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    color: $white;
    font-family: $font-latin;
    line-height: 16px;
    border-radius: 30px;
    text-transform: uppercase;

    &.big {
        font-size: 22px;
        padding: 10px 30px 3px;
        background-color: #3e6715;

        span {
            color: #f4e723;
            font-size: 11px;
            display: block;
        }

        &:hover {
            background-color: #f4e723;
            color: #3e6715;

            span {
                color: #3e6715;
            }
        }
    }
}

body {
    text-align: right;
    background: $primary url('../images/bg.jpg') repeat-x top center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &.home {
        background: url('../images/tn-map.png') no-repeat center 150px,
        $primary url('../images/bg.jpg') repeat-x top center;
        background-size: auto, cover;

        .start-text {
            font-size: 40px;
            line-height: 46px;
            padding-top: 250px;
            p span{
                color: #aac424;
                font-size: 70px;
                line-height: 76px;
            }

            .btn {
                margin-top: 20px;
            }

        }

        .map-container {
            display: none;
        }
    }
    .map-container {
        background-color: $white;
    }

    &.how-to,
    &.gain,
    .msg-wrapper,
    .msg-wrapper-error{
        p, .line {
            margin-bottom: 20px;
            @include font-size($big-font);;
            line-height: rem(33px);
        }
    }
    &.gain{
        background: url('../images/confiti.png') no-repeat center 150px,
        $primary url('../images/bg.jpg') repeat-x top center;
        background-size: auto, cover;
    }
    &.gain,
    &.how-to{
        .map-container {
            display: none;
        }
    }
    .msg-wrapper {
        padding-top: 60px;
        a{
            color: $white;
        }
    }
}


.app-wrapper {
    min-height: calc(100vh - 85px);

    .page-container {
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
}

footer {
    padding-top: 50px;
    padding-bottom: 10px;
    margin-top: auto;
    width: 100%;
    .inscription &{
        padding-right: 230px;
    }
    @include respond-below(md) {
        .inscription &{
            padding-right: 0px;
        }
    }

    img {
        margin: 10px 0;
    }



    .links-menu {
        opacity: 0.6;
        font-size: 13px;

        .copyright {
            margin-left: 15px;
        }

        a {
            color: $white;
            margin: 0 15px;
        }
    }
    @include respond-below(md) {
        .links-menu {
            text-align: center;
            //background-color: #dad588;
            font-size: 12px;
            padding: 5px 0;
            a {
                color: $white;
                margin: 0 5px;
            }
        }
    }

    .social-links {
        @include respond-below(md) {
            text-align: center !important;
        }
        a {
            color: $white;
            margin-right: 10px;
        }
    }

    a:hover {
        color: $tertiary;
    }
}

.header {
    padding: 4px 0 15px;
    height: 85px;
    background-color: $white;
    @include respond-below(md){
        padding: 4px 0 15px;
        height: 55px;
    }

    #mainLogo {
        float: left;
        width: 180px;
        @include respond-below(md) {
            width: 120px;
        }
    }

    .tag-line {
        float: left;
        padding-top: 28px;
        @include respond-below(md) {
            padding-top: 6px;
        }
        img {
            width: 110px;
            @include respond-below(md) {
                width: 80px;
                margin-top: 10px;
            }
        }
    }

}


.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;

    .spinner {
        width: 70px;
        height: 22px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;

        > div {
            width: 18px;
            height: 18px;
            background-color: #333;

            border-radius: 100%;
            display: inline-block;
            -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
            animation: bouncedelay 1.4s infinite ease-in-out;
            /* Prevent first frame from flickering when animation starts */
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        & .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        & .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }
    }

    @-webkit-keyframes bouncedelay {
        0%, 80%, 100% {
            -webkit-transform: scale(0.0)
        }
        40% {
            -webkit-transform: scale(1.0)
        }
    }

    @keyframes bouncedelay {
        0%, 80%, 100% {
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        }
        40% {
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }
}

.loader {
    background-color: transparentize(#000, 0.2);
    z-index: 1000000;
    color: #FFF;

    .spinner > div {
        background-color: $primary;
    }
}

.hide {
    display: none !important;
}

/**
 * Outdated Browser Alert
 */

.outdated-browser {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    font-family: helvetica, Arial;
    text-align: center;
    text-transform: uppercase;
    background-color: #f25648;
    color: #ffffff;
    border-radius: 0;
    margin-bottom: 0;

    h6 {
        font-size: 25px;
        line-height: 25px;
        margin: 0 0 10px;
    }

    p {
        font-size: 12px;
        line-height: 12px;
        margin: 0;
    }

    .update-btn {
        display: block;
        position: relative;
        padding: 10px 20px;
        margin: 30px auto 0;
        width: 230px;
        color: #ffffff;
        text-decoration: none;
        border: 2px solid #ffffff;
        cursor: pointer;

        &:hover {
            color: #f25648;
            background-color: #ffffff;
        }
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 25px;
        text-decoration: none;
        color: #ffffff;
        font-size: 36px;
        line-height: 1;
    }
}


@media (min-width: 1440px) {
    .container {
        max-width: 1400px;
    }
}

.latin-font {
    font-family: $font-latin;
}



.form-wrapper{
    max-width: 500px;
}
select, option {
    background-color: $primary;
}
.form-control,
.custom-file-label {
    background-color: transparent;
    color: $white;
    font-size: rem(16px);
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    @include hover-focus-active(){
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: $white;
        border-bottom: 1px solid $primary;
    }
}

.custom-file-label {
    &:after {
        display: none
    }

    font-size: rem(12px);
    line-height: 10px;
}


//-----------------------------------------
///////////////////// SECIONS

.section {
    padding: 40px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {

}



.gameCanvas{
    //padding-right: 350px;
    @include respond-below(md){
       padding-top: 0px;
    }
}
.gameArea{
    position: relative;
    min-height: 400px;
    padding-top: 130px;
    @include respond-below(md){
        padding-top: 200px;
    }
}
.bankList{
    position: absolute;
    z-index: 1;
    width: 250px;
    top: 0;
    right: 0;
    height: calc(100%);
    background: url('../images/side-bar.jpg') center ;
    background-size: cover;
    @include respond-below(md){
        width: 100%;
        height: 130px;
        top: 120px;
    }

}

.bankItem{
    width: 100px;
    display: inline-block;
    position: absolute;
    right: 50px;
    z-index: 2;
    @include respond-below(md){
        width: 80px;
    }
    *{
        pointer-events: none;
    }
    img{
        width: 100%;
    }
    &.bankItem-1{
        top: 6%;
        @include respond-below(md){
            top: 15px;
            left: 20px;
        }
    }
    &.bankItem-2{
        top: 45%;
        @include respond-below(md){
            top: 15px;
            left: 120px;
        }
    }
    &.bankItem-3{
        top: 82%;
        @include respond-below(md){
            top: 15px;
            left: 220px ;
        }
    }
    .bank__name{
        color: $primary;
        margin-top: 5px;
        font-size: 14px;
        line-height: 16px;
        text-transform: capitalize;
        @include respond-below(md){
            font-size: 12px;
            line-height: 14px;
        }
    }

}

.target-wrapper{
    margin: 0 200px;
    @include respond-below(md){
        margin: 0;
    }
}
.target{
    width: 120px;
    background-color: $white;
    height: 120px;
    margin: 0 40px ;
    border-radius: 20px;
    border: 2px solid $primary;
    position: relative;
    @include respond-below(md){
        margin: 0 10px ;
        height: 100px;
        width: 100px;
    }
    &.showOver{
        //background-color: orange;
        //background-color: rgba(255,255,255,.8);
    }
    &.occupied{
        background-color: $white;
    }

    &:before{
        display: inline-block;
        width: 20px;
        height: 20px;
        font-size: 20px;
        //background-color: red;
        margin-top:  -26px;
        margin-left: -10px;
        position: absolute;
    }
    &#t1:before{
        content: '3';
    }
    &#t2:before{
        content: '2';
    }
    &#t3:before{
        content: '1';
    }
    &:after{
        display: none;
        position: absolute;
        right: -18px;
        top: -18px;
        width: 25px;
        height: 25px;
        color: #FFF;
        border-radius: 50%;
        font: normal normal normal 14px/25px FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    &.a-right{
        border-color: #8bc34a;
        border-width: 6px;
        &:after{
            content: "\f058";
            display: inline-block;
            background-color: #8bc34a;
        }
    }
    &.a-wrong{
        border-color: #f44336;
        border-width: 6px;
        &:after{
            content: "\f057";
            display: inline-block;
            background-color: #f44336;
        }
    }
}
